{% extends 'client/base.html' %}
{% block content %}
    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Adventure Begins With Every Purchase</h1>
                <p>Discover premium products inspired by courage, freedom, and adventure.</p>
            </div>
            <div class="hero-cta">
                <button class="shop-btn hero-btn">Shop Now</button>
                <button class="explore-btn hero-btn">Explore Collection</button>
            </div>
        </div>

    </section>
{% endblock content %}